<ion-view view-title="Alphabet">
<ion-content>
   <ion-list>
    <ion-item href="#/app/SignA">
      A
    </ion-item>
    <ion-item href="#/app/SignB">
      B
    </ion-item>
     <ion-item href="#/app/SignC">
       C
     </ion-item>
     <ion-item href="#/app/SignD">
       D
     </ion-item>
     <ion-item href="#/app/SignE">
       E
     </ion-item>
     <ion-item href="#/app/SignF">
       F
     </ion-item>
     <ion-item href="#/app/SignG">
       G
     </ion-item>
     <ion-item href="#/app/SignH">
       H
     </ion-item>
     <ion-item href="#/app/SignI">
       I
     </ion-item>
     <ion-item href="#/app/SignJ">
       J
     </ion-item>
     <ion-item href="#/app/SignK">
       K
     </ion-item>
     <ion-item href="#/app/SignL">
       L
     </ion-item>
     <ion-item href="#/app/SignM">
       M
     </ion-item>
     <ion-item href="#/app/SignN">
       N
     </ion-item>
     <ion-item href="#/app/SignO">
       O
     </ion-item>
     <ion-item href="#/app/SignP">
       P
     </ion-item>
     <ion-item href="#/app/SignQ">
       Q
     </ion-item>
     <ion-item href="#/app/SignR">
       R
     </ion-item>
     <ion-item href="#/app/SignS">
       S
     </ion-item>
     <ion-item href="#/app/SignT">
       T
     </ion-item>
     <ion-item href="#/app/SignU">
       U
     </ion-item>
     <ion-item href="#/app/SignV">
       V
     </ion-item>
     <ion-item href="#/app/SignW">
       W
     </ion-item>
     <ion-item href="#/app/SignX">
       X
     </ion-item>
     <ion-item href="#/app/SignY">
       Y
     </ion-item>
     <ion-item href="#/app/SignZ">
       Z
     </ion-item>
  </ion-list>
</ion-content>
</ion-view>
