<ion-view view-title="Main Menu" hide-nav-bar="true">
  <ion-content>
    <h1>Choose a Category</h1>
    <br />
    <div class="list">
         <label class="item">
        <button class="button button-block button-positive" type="button" ui-sref="app.alphabet">Alphabet</button>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="button" ui-sref="app.numbers">Numbers</button>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="button" ui-sref="app.shortphrases">Short Phrases</button>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="button" ui-sref="app.quiz">Quiz</button>
      </label>
    </div>
  </ion-content>
</ion-view>
