<ion-view view-title="Numbers">
  <ion-content>
      <ion-list>
        <ion-item href="#/app/1">
          1
        </ion-item>
        <ion-item href="#/app/2">
          2
        </ion-item>
        <ion-item href="#/app/3">
          3
        </ion-item>
        <ion-item href="#/app/4">
          4
        </ion-item>
        <ion-item href="#/app/5">
          5
        </ion-item>
        <ion-item href="#/app/6">
          6
        </ion-item>
        <ion-item href="#/app/7">
          7
          </ion-item>
        <ion-item href="#/app/8">
          8
        </ion-item>
        <ion-item href="#/app/9">
          9
        </ion-item>
        <ion-item href="#/app/10">
          10
        </ion-item>
    </ion-content>
</ion-view>
