<ion-view view-title="Short Phrases">
      <ion-content>
      <ion-list>
        <ion-item href="#/app/hellobye">
          Hello/Bye
        </ion-item>
        <ion-item href="#/app/morning">
          Good Morning
        </ion-item>
        <ion-item href="#/app/afternoon">
          Good Afternoon
        </ion-item>
        <ion-item href="#/app/night">
          Goodnight
        </ion-item>
        <ion-item href="#/app/howareyou">
          How Are You?
        </ion-item>
        <ion-item href="#/app/good">
          Good
        </ion-item>
        <ion-item href="#/app/sad">
          Sad
        </ion-item>
        <ion-item href="#/app/agree">
          Agree
        </ion-item>
        <ion-item href="#/app/pleasethanks">
          Please/Thank You
        </ion-item>
        <ion-item href="#/app/welcome">
          You're Welcome
        </ion-item>
        <ion-item href="#/app/sorry">
          Sorry
        </ion-item>
</ion-content>
</ion-view>